<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="meun">
    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <div class="user-details">
                <div class="pull-left">
                    <img th:src="@{assets/images/users/man.jpg}" alt="" class="thumb-md img-circle">
                </div>
                <div class="user-info">
                    <br/>
                    <p th:text="${session.username}"></p>
                </div>
            </div>
            <!--- Divider -->
            <div id="sidebar-menu">
                <ul>
                    <li>
                        <a href="#" th:href="@{/equiplist}" class="waves-effect"><i class="md md-view-list"></i><span> 设施参数 </span></a>
                    </li>
                    <li class="has_sub">
                        <a href="#" class="waves-effect waves-light"><i class="md md-view-list"></i><span> 监督检查 </span><span class="pull-right"><i class="md md-add"></i></span></a>
                        <ul class="list-unstyled">
                            <li><a href="#" th:href="@{/dailyinspect}">日常巡检</a></li>
                            <li><a href="#" th:href="@{/fireworkconformlist}">动火作业现场确认单</a></li>
                            <li><a href="#" th:href="@{/firerisktasktasklist}">重大火灾风险作业跟踪监督</a></li>
                            <li><a href="#" th:href="@{/regularinspect}">定期监督检查</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="waves-effect" th:href="@{/regulartest}"><i class="md md-dashboard"></i><span> 消防定期试验 </span></a>
                    </li>
                    <li>
                        <a href="#" class="waves-effect"><i class="md md-warning"></i><span> 消防维修保养 </span></a>
                    </li>
                    <li class="has_sub">
                        <a href="#" class="waves-effect waves-light"></i><i class="md md-view-list"></i><span> 系统配置 </span><span class="pull-right"><i class="md md-add"></i></span></a>
                        <ul class="list-unstyled">
                            <li><a href="#" th:href="@{/importantlocation}">消防重点部位配置</a></li>
                            <li><a href="#" >设备名称配置</a></li>
                            <li><a href="#" >系统类别配置</a></li>
                            <li><a href="#" th:href="@{/method}">整改方式配置</a></li>

                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</body>
</html>