<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">
    <title>消防监督检查系统</title>
    <!--    <link  th:href="@{assets/plugins/select2/dist/css/select2.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{assets/plugins/select2/dist/css/select2-bootstrap.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{assets/plugins/jquery-multi-select/multi-select.css}" rel="stylesheet" type="text/css"/>-->

    <link th:href="@{assets/plugins/sweetalert/dist/sweetalert.css}" rel="stylesheet" type="text/css">
    <link th:href="@{assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{assets/css/core.css}" rel="stylesheet" type="text/css">
    <link th:href="@{assets/css/icons.css}" rel="stylesheet" type="text/css">
    <link th:href="@{assets/css/components.css}" rel="stylesheet" type="text/css">
    <link th:href="@{assets/css/pages.css}" rel="stylesheet" type="text/css">
    <link th:href="@{assets/css/menu.css}" rel="stylesheet" type="text/css">
    <link th:href="@{assets/css/responsive.css}" rel="stylesheet" type="text/css">
    <link th:href="@{assets/css/bootstrap-select.css}" rel="stylesheet" type="text/css">
    <link th:href="@{assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}" rel="stylesheet">
    <script th:src="@{assets/js/modernizr.min.js}"></script>
    <style type="text/css">
        #detailateForm div div input{
            background-color: #d6d5d5;
        }
        #detailateForm div div textarea{
            background-color: #d6d5d5;
        }
        #queryTable tr th{
            width:80px;
            text-align: right;
        }
        #queryTable tr td select{
            width:180px;
        }
        #queryTable tr td input{
            width:180px;
        }
        #queryTable tr td{
            width:180px;
        }
        .dataTables_scrollHead {
            height: 39px;
        }
        th,td{
            white-space:nowrap;
        }

        #uploadAtt {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
        }
    </style>
</head>
<body class="fixed-left">
<div id="wrapper">
    <!-- 导入头部 -->
    <!--<%@ include file="top.jsp"%>-->
    <div th:insert="~{top :: top}"></div>
    <!-- 导入左侧菜单栏 -->
    <!--<%@ include file="menu.jsp"%>-->
    <div th:insert="~{meun :: meun}" style="width: 200px"></div>
    <!-- 内容页 -->
    <div class="content-page">
        <div class="content">
            <div class="container">
                <!-- 层级菜单 -->
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="pull-left page-title">定期检查</h4>
                        <ol class="breadcrumb pull-right">
                            <li><a href="#">消防监督检查系统</a></li>
                            <li class="active">定期检查</li>
                        </ol>
                    </div>
                </div>
                <!-- 列表、新增、修改区域 start -->
                <div class="panel">
                    <div class="panel-body">
                        <table class="table table-bordered table-striped" id="datatable5">
                            <caption align="top" style="text-align: center"><font size="5">我的任务(未完成)</font></caption>
                            <thead>
                            <tr>
                                <th style="text-align:center">序号</th>
                                <th style="text-align:center">机组号</th>
                                <th style="text-align:center">年度</th>
                                <th style="text-align:center">检查依据</th>
                                <th style="text-align:center">检查项目</th>
                                <th style="text-align:center">检查频度</th>
                                <th style="text-align:center">计划检查人</th>
                                <th style="text-align:center">计划开始时间</th>
                                <th style="text-align:center">计划结束时间</th>
                                <th style="text-align:center">状态</th>
                                <th style="text-align:center">操作</th>
                            </tr>
                            </thead>
                            <tbody style="text-align:center ">
                            <tr th:if="${list.size() eq 0}">
                                <td></td>
                                <td colspan="10">暂无待任务数据</td>
                            </tr>
                            <tr th:each="sRecord:${list}">
                                <!--<td th:text="${equip.id}"></td>-->
                                <td></td>
                                <td th:text="${sRecord.unit}"></td>
                                <td th:text="${sRecord.year}"></td>
                                <td th:text="${sRecord.checkbasis}"></td>
                                <td th:text="${sRecord.checkproject}"></td>
                                <td th:text="${sRecord.checkfrequency}"></td>
                                <td th:text="${sRecord.planchecker}"></td>
                                <td th:text="${sRecord.planbegin}"></td>
                                <td th:text="${sRecord.planend}"></td>
                                <td th:if="${sRecord.state ne 1}">
                                    未完成
                                </td>
                                <td th:if="${sRecord.state eq 1}">
                                    已完成
                                </td>
                                <td>
                                    <a class="btn btn-xs btn-info" th:href="@{/regularinspectrecord(taskid=${sRecord.id},unit=${sRecord.unit},checkproject=${sRecord.checkproject},year=${sRecord.year})}">查看</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-body">
                        <table class="table table-bordered table-striped" id="datatable">
                            <caption align="top" style="text-align: center"><font size="5">我的任务(已完成)</font></caption>
                            <thead>
                            <tr>
                                <th style="text-align:center">序号</th>
                                <th style="text-align:center">机组号</th>
                                <th style="text-align:center">年度</th>
                                <th style="text-align:center">检查依据</th>
                                <th style="text-align:center">检查项目</th>
                                <th style="text-align:center">检查频度</th>
                                <th style="text-align:center">计划检查人</th>
                                <th style="text-align:center">计划开始时间</th>
                                <th style="text-align:center">计划结束时间</th>
                                <th style="text-align:center">状态</th>
                                <th style="text-align:center">操作</th>
                            </tr>
                            </thead>
                            <tbody style="text-align:center ">
                            <tr th:if="${list1.size() eq 0}">
                                <td></td>
                                <td colspan="10">暂无待任务数据</td>
                            </tr>
                            <tr th:each="sRecord:${list1}">
                                <!--<td th:text="${equip.id}"></td>-->
                                <td></td>
                                <td th:text="${sRecord.unit}"></td>
                                <td th:text="${sRecord.year}"></td>
                                <td th:text="${sRecord.checkbasis}"></td>
                                <td th:text="${sRecord.checkproject}"></td>
                                <td th:text="${sRecord.checkfrequency}"></td>
                                <td th:text="${sRecord.planchecker}"></td>
                                <td th:text="${sRecord.planbegin}"></td>
                                <td th:text="${sRecord.planend}"></td>
                                <td th:if="${sRecord.state ne 1}">
                                    未完成
                                </td>
                                <td th:if="${sRecord.state eq 1}">
                                    已完成
                                </td>
                                <td>
                                    <a class="btn btn-xs btn-info" th:href="@{/regularinspectrecord(taskid=${sRecord.id},unit=${sRecord.unit},checkproject=${sRecord.checkproject},year=${sRecord.year})}">查看</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <footer class="footer text-right">
                    2018 © jnpc.com.cn
                </footer>
            </div>
        </div>
    </div>
</div>



<script>
    var resizefunc = [];
</script>
<!-- jQuery  -->
<script th:src="@{assets/js/jquery.min.js}"></script>
<script th:src="@{assets/js/bootstrap.min.js}"></script>
<script th:src="@{assets/js/detect.js}"></script>
<script th:src="@{assets/js/fastclick.js}"></script>
<script th:src="@{assets/js/jquery.slimscroll.js}"></script>
<script th:src="@{assets/js/jquery.blockUI.js}"></script>
<!--
<script src="${pageContext.request.contextPath}/assets/js/waves.js"></script>
 -->
<script th:src="@{assets/js/wow.min.js}"></script>
<script th:src="@{assets/js/jquery.nicescroll.js}"></script>
<script th:src="@{assets/js/jquery.scrollTo.min.js}"></script>
<script th:src="@{assets/js/jquery.app.js}"></script>
<!-- 下拉列表 js start -->
<script th:src="@{assets/js/bootstrap-select.js}" type="text/javascript"></script>
<!--<script th:src="@{assets/plugins/select2/dist/js/select2.min.js}" type="text/javascript"></script>
<script type="text/javascript" th:src="@{assets/plugins/jquery-multi-select/jquery.multi-select.js}"></script>
<script type="text/javascript" th:src="@{assets/plugins/jquery-multi-select/jquery.quicksearch.js}"></script>-->
<!-- 下拉列表 js end -->
<script th:src="@{assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js}"></script>
<script th:src="@{assets/plugins/jquery-datatables-editable/jquery.dataTables.js}"></script>
<script th:src="@{assets/plugins/datatables/dataTables.bootstrap.js}"></script>
<script type="text/javascript" th:src="@{assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
<!-- 提示框 -->
<script th:src="@{assets/js/alertUtils.js}"></script>
<script th:src="@{assets/plugins/sweetalert/dist/sweetalert.min.js}"></script>

<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        var len = $('#datatable tr').length;
        for(var i = 1;i<len;i++){
            $('#datatable tr:eq('+i+') td:first').text(i);
        }
        var len2 = $('#datatable5 tr').length;
        for(var i = 1;i<len2;i++){
            $('#datatable5 tr:eq('+i+') td:first').text(i);
        }
    });
    $('#data1').datepicker();

</script>
</body>
</html>